h1 a {
    color:#64BBE4;
    font-family: 'Fredericka the Great', cursive;
}

body {
    padding-left: 15px;
}


.page-header {
    background-color:#64BBE4;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color:#FFF8F8;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h2, h3, h4 {
    font-family: 'Pangolin', cursive;
}

.date {
    color: #9099CE;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #C8E17E;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #5086B1;
}

